<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="{{user.firstName}} {{user.lastName}}">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">



        <div class="header-content">

            <nav class="row header-nav-wrap">
                <ul class="header-nav">
                    <li><a class="smoothscroll" href="#hero" title="Intro">Home</a></li>
                    <li><a class="smoothscroll" href="#about" title="About">About</a></li>
                    <li><a class="smoothscroll" href="#services" title="Services">Skills</a></li>
                    <li><a href="mailto:{{user.email}}" title="Contact us">Say Hello</a></li>
                </ul>
            </nav> <!-- end header-nav-wrap -->

            <a href="https://s3.amazonaws.com/app.resumed.website/resumes/{{user.id}}.pdf"
                class="btn btn--stroke btn--small">Download CV</a>

        </div> <!-- end header-content -->

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header>


    <!-- hero
    ================================================== -->
    <section id="hero" class="s-hero target-section" data-parallax="scroll" data-image-src="images/unsplash.jpg"
        data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="row hero-content">

            <div class="column large-full">

                <h1>
                    Hello, I'm {{user.firstName}} {{user.lastName}}.
                </h1>



            </div>

        </div> <!-- end hero-content -->

        <div class="hero-scroll">
            <a href="#about" class="scroll-link smoothscroll">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 24l-8-9h6v-15h4v15h6z" />
                </svg>
            </a>
        </div> <!-- end hero-scroll -->

    </section> <!-- end s-hero -->


    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="s-about__section s-about__section--profile">

            <div class="right-vert-line"></div>

            <div class="row">
                <div class="column large-6 medium-8 tab-full">

                    <div class="section-intro" data-num="01" data-aos="fade-up">
                        <h3 class="subhead">About Me</h3>
                        <h1 class="display-1">I'm the kind of person who isn't afraid of challenges.</h1>
                    </div>



                    <h3 data-aos="fade-up">Profile</h3>

                    <p data-aos="fade-up">
                        {{resume.bio}}
                    </p>

                </div>
            </div>

        </div> <!-- end s-about__section--profile -->

        <div class="s-about__section">

            <div class="row">
                <div class="column">
                    <h3 data-aos="fade-up">Experience</h3>
                </div>
            </div>

            <div class="row block-large-1-2 block-900-full work-positions">
                {{#resume.experience}}
                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">{{company}}</span>
                                <span class="position__pos">{{position}}</span>
                            </h6>
                            <div class="position__timeframe">
                                {{start}} - {{end}}
                            </div>
                        </div>

                        <p>
                            {{description}}
                        </p>
                    </div>
                </div> <!-- end column -->
                {{/resume.experience}}

            </div> <!-- work positions -->
            <div class="row">
                <div class="column">
                    <h3 data-aos="fade-up">Education</h3>
                </div>
            </div>

            <div class="row block-large-1-2 block-900-full work-positions">
                {{#resume.education}}
                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">{{school}}</span>
                                <span class="position__pos">{{degree}}</span>
                            </h6>
                            <div class="position__timeframe">
                                {{start}} - {{end}}
                            </div>
                        </div>

                        <p>
                            {{field}}
                        </p>
                    </div>
                </div> <!-- end column -->
                {{/resume.education}}

            </div> <!-- work positions -->
            <div class="row">
                <div class="column">
                    <h3 data-aos="fade-up">Achievements</h3>
                </div>
            </div>
            <div class="row block-large-1-2 block-900-full work-positions">
                {{#resume.awards}}
                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">{{title}}</span>
                                <span class="position__pos">{{date}}</span>
                            </h6>
                        </div>
                    </div>
                </div> <!-- end column -->
                {{/resume.awards}}

            </div> <!-- work positions -->

        </div> <!-- end s-about__section -->

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id="services" class="s-services target-section h-dark-bg">

        <div class="row s-services__content">

            <div class="vert-line"></div>

            <div class="column large-6 s-services__leftcol">
                <div class="section-intro" data-num="02" data-aos="fade-up">
                    <h3 class="subhead">Skills</h3>

                    <h1 class="display-1">
                        I focus on crafting my skills.
                    </h1>
                </div>
            </div> <!-- end  s-services--leftcol -->

            <div class="column large-6">

                <ul class="services-list" data-aos="fade-up">{{#resume.skills}}
                    <li class="services-list__item">
                        <div class="services-list__item-header">
                            <h5>{{name}}</h5>
                        </div>
                    </li> <!-- services-list__item -->{{/resume.skills}}
                </ul> <!-- end services-list -->

            </div>

        </div> <!-- s-services__content -->

    </section> <!-- end s-services -->




    {{#user.type == "FREE"}}
    <!-- CTA
        ================================================== -->
    <div class="s-cta">

        <div class="row">
            <div class="column large-full">
                <h2 class="section-desc" data-aos="fade-up">
                    Built using Resumed
                </h2>
            </div>
        </div>

        <div class="row cta-content" data-aos="fade-up">
            <div class="column large-full">
                <p>
                    With just a few clicks, you can upload and edit your resume, select from different attractive
                    themes, and instantly publish your own unique website. Plus, get help from the convenient AI
                    assistant!
                </p>

                <a href="https://resumed.website" class="btn btn--primary h-full-width">Get Started</a>
                <br />
            </div>
        </div> <!-- end cta-content -->

    </div> <!-- end s-cta -->
    {{/user.type == "FREE"}}


    </section> <!-- end s-testimonials -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer h-dark-bg">

        <div class="right-vert-line"></div>

        <div class="row s-footer__main">
            <div class="column large-6">
                <div class="section-intro" data-aos="fade-up">
                    <h3 class="subhead">Get In Touch</h3>

                    <h1 class="display-1">
                        I'd Love To Hear From You.
                    </h1>
                </div>

                <div class="footer-email-us">
                    <a href="mailto:{{user.email}}" class="btn btn--primary h-full-width">Let's Talk</a>
                </div>
            </div>

            <div class="column large-5">
                <div class="footer-contacts">
                    <div class="footer-contact-block" data-aos="fade-up">
                        <h5 class="footer-contact-block__header">
                            Email
                        </h5>
                        <p class="footer-contact-block__content">
                            <a href="mailto:{{user.email}}">{{user.email}}</a>
                        </p>
                    </div> <!-- end footer-contact-block -->

                </div>
            </div>
        </div> <!-- end s-footer__main -->

        <div class="row s-footer__bottom">
            <div class="column large-full ss-copyright">
                <span>© Copyright Ethos 2019</span>
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div> <!-- end ss-copyright -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 0l8 9h-6v15h-4v-15h-6z" />
                    </svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                        title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                        title="Share"></button> <button class="pswp__button pswp__button--fs"
                        title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                        title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>