<!DOCTYPE html>
<html>

<head>
</head>

<body style="margin: 0; width: 100%; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased;">
    <div
        style="background-color: #111111; padding: 20px; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif;">
        <div
            style="margin: auto; margin-top: 20px; margin-bottom: 20px; max-width: 512px; border-radius: 24px; background-color: #ffffff; padding: 20px; padding-top: 5px; text-align: center; color: #1f2937; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);">
            <br/><img style="width: 133.33px; height: 100px;"
                src="https://s3.amazonaws.com/resumed.website/static/images/png/Logo-Only.png" onContextMenu="return false;" onContextMenu="return false;">
            <!--<h3 style="padding-bottom: 2px; font-size: 30px; color: #111111;">Your Auth Code</h3>-->
            <p style="color: #111111;font-size: large;">Here is your code: <b>{{token}}</b></p>
            <div style="margin-top: 24px;">
                <a href="{{url}}"
                    style="border-radius: 4px; background-color: #111111; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; color: #ffffff; text-decoration: none;">Sign
                    in to Resumed</a>
            </div>
        </div>
</body>

</html>