<!DOCTYPE html>
<html>

<head>
</head>

<body style="margin: 0; width: 100%; padding: 0; word-break: break-word; -webkit-font-smoothing: antialiased;">
    <div
        style="background-color: #111111; padding: 20px; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif;">
        <div
            style="margin: auto; margin-top: 20px; margin-bottom: 20px; max-width: 512px; border-radius: 24px; background-color: #ffffff; padding: 20px; padding-top: 2px; text-align: center; color: #1f2937; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);">

            <h3 style="font-size: 30px; color: #111111;">Welcome Back!</h3>
            <p style="color: #111111;">Click the link below to sign in to your account.</b></p>
            <div style="margin-top: 28px;">
                <span>
                    <a href="{{url}}"
                        style="border-radius: 4px; background-color: #111111; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; color: #ffffff; text-decoration: none;">Sign
                        in</a>
                    <p style="color: #111111;">This link expires in 24 hours.<br /> If you did
                        not try to log into your account, you can safely ignore it.</p>
                </span>
            </div>
            <br />
        </div>
</body>

</html>