<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="description" content="">
	<meta name="author" content="{{user.firstName}} {{user.lastName}}">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/vendor.css">

	<!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

	<!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">
	<!-- header 
   ================================================== -->
	<header>
		<div class="row">

			<div class="top-bar">
				<a class="menu-toggle" href="#"><span>Menu</span></a>

				<div class="logo">
					<a href="index.html">{{title}}</a>
				</div>

				<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll" href="#about" title="">About</a></li>
						<li><a class="smoothscroll" href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
					</ul>
				</nav>
			</div> <!-- /top-bar -->

		</div> <!-- /row -->
	</header> <!-- /header -->

	<!-- intro section
   ================================================== -->
	<section id="intro">

		<div class="intro-overlay"></div>

		<div class="intro-content">
			<div class="row">

				<div class="col-twelve">

					<h5>Hello, World.</h5>
					<h1>I'm {{user.firstName}} {{user.lastName}}.</h1>

					<p class="intro-position">
						<span>{{currentPostion}}</span>
					</p>

					<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

				</div>

			</div>
		</div> <!-- /intro-content -->

	</section> <!-- /intro -->


	<!-- about section
   ================================================== -->
	<section id="about">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>About</h5>
				<h1>Let me introduce myself.</h1>

				<div class="intro-info">

					<img src="{{user.profilePicture}}" alt="Profile Picture">

					<p class="lead">{{resume.bio}}</p>
				</div>

			</div>
		</div> <!-- /section-intro -->

		<div class="row about-content">

			<div class="col-six tab-full">

				<ul class="info-list">
					<li>
						<strong>Fullname:</strong>
						<span>{{user.firstName}} {{user.lastName}}</span>
					</li>
					<li>
						<strong>Website:</strong>
						<span>{{user.firstName}}-{{user.lastName}}.resumed.website</span>
					</li>
					<li>
						<strong>Email:</strong>
						<span>{{user.email}}</span>
					</li>

				</ul> <!-- /info-list -->

			</div>

			<div class="col-six tab-full">

				<h3>Skills</h3>
				{{#resume.skills}}
				<ul class="skill-bars">
					<li>
						<div class="progress percent{{percentNumber}}"><span>{{percentNumber}}%</span></div>
						<strong>{{name}}</strong>
					</li>

				</ul> <!-- /skill-bars -->
				{{/resume.skills}}

			</div>

		</div>

		<div class="row button-section">
			<div class="col-twelve">
				<a href="mailto:{{user.email}}" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
				<a href="https://s3.amazonaws.com/app.resumed.website/resumes/{{user.id}}.pdf" title="Download CV"
					class="button button-primary" download>Download CV</a>
			</div>
		</div>

	</section> <!-- /process-->


	<!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Resume</h5>
				<h1>More of my credentials.</h1>


			</div>
		</div> <!-- /section-intro-->

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Work Experience</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">
					{{#resume.experience}}
					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>

						<div class="timeline-header">
							<h3>{{position}}</h3>
							<p>{{start}} - {{end}}</p>
						</div>

						<div class="timeline-content">
							<h4>{{company}}</h4>
							<p>{{description}}</p>
						</div>

					</div> <!-- /timeline-block -->
					{{/resume.experience}}


				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Education</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">
					{{#resume.education}}
					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>{{degree}}</h3>
							<p>{{start}} - {{end}}</p>
						</div>

						<div class="timeline-content">
							<h4>{{school}}</h4>
							<p>{{field}}</p>
						</div>

					</div> <!-- /timeline-block -->
					{{/resume.education}}

				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->
		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Achievements</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">
					{{#resume.awards}}
					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-long-arrow-up"></i>
						</div>

						<div class="timeline-header">
							<h3>{{title}}</h3>
						</div>

						<div class="timeline-content">
							<h4>{{date}}</h4>
						</div>

					</div> <!-- /timeline-block -->
					{{/resume.awards}}

				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

	</section> <!-- /features -->

	<!-- CTA Section
   ================================================== -->
	<section id="cta" class="dark-section" style="color:darkgray">

		<div class="row cta-content">

			<div class="col-twelve section-ads">

				<h2 class="h01"><a href="https://resumed.website">Built using Resumed</a></h2>

				<p class="lead">
					Transform your resume into a stunning website in minutes with Resumed! Take advantage of the AI
					Assistant and choose from a variety of professional themes to get you started. Producing and
					publishing your portfolio website has never been easier!
					<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
				</p>

				<div class="action">
					<a class="button button-primary large" href="https://resumed.website">Sign Up Now</a>
				</div>

			</div>

		</div> <!-- /cta-content -->

	</section> <!-- /cta -->





	<!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Contact</h5>
				<h1>I'd Love To Hear From You.</h1>


			</div>
		</div> <!-- /section-intro -->


		<div class="row contact-info">

			<div class="col-twelve">

				<div class="icon">
					<i class="icon-mail"></i>
				</div>

				<h5>Email Me At</h5>

				<p>{{user.email}}
				</p>

			</div>



		</div> <!-- /contact-info -->

	</section> <!-- /contact -->


	<!-- footer
   ================================================== -->

	<footer>
		<div class="row">

			<div class="col-six tab-full pull-right social">

				<ul class="footer-social">
					<li><a href="{{facebookSocial}}"><i class="fa fa-facebook"></i></a></li>
					<li><a href="{{behanceSocial}}"><i class="fa fa-behance"></i></a></li>
					<li><a href="{{twitterSocial}}"><i class="fa fa-twitter"></i></a></li>
					<li><a href="{{dribbleSocial}}"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="{{instagramSocial}}"><i class="fa fa-instagram"></i></a></li>
				</ul>

			</div>

			<div class="col-six tab-full">
				<div class="copyright">
					<span>© Copyright Kards 2016.</span>
					<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
				</div>
			</div>

			<div id="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
			</div>

		</div> <!-- /row -->
	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

</body>

</html>